{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"href="{% static 'img/favicon.ico' %}">
    <title>Covid-19 Analytics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>

    <link href="{% static 'map/demo/demo.css' %}" rel="stylesheet" />
    <link href="{% static 'map/dist/svgMap.css'%}" rel="stylesheet" />
    <script src="{% static 'map/dist/svgMap.js'%}"></script>
  </head>
  <body>
    <h1 style="text-align:center;">Covid-19 Analytics</h1>
    <div id="svgMapGPD"></div>
    <div class="main-mobile" id="main-mobile">
      <input type="text" id="myInputMob" onkeyup="myFunctionMob()" placeholder="Search for names.." title="Type in a name">
      {% for val in response %}
      
        {%for a in flag%}
          {% for vkey,vval in val.items %}
              
                {%if a.Name == val.Name%}
                    {%if vval != none%}
                    {%if forloop.first%}
                    <div class="container-mob" id="{{val.Name}">
                    
                      <img src="https://www.countryflags.io/{{a.Code}}/flat/64.png" height="64" width="64" id="{{a.Code}}">
                    
                    <button class="dropdown-btn">{{val.Name}}
                    </button>
                    <div class="dropdown-container">
                    {%endif%}
                    <p><b>{{vkey}}:</b></p><p>{{vval}}</p>
                      {%if forloop.revcounter0 == 1%}
                      </div>
                    </div>
                      {%endif%}
                      {%endif%}
                {%endif%}

          {%endfor%}  
        {%endfor%}
      
      {%endfor%}
      
    </div>
    <div class="main-pc">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <table id="myTable">
    <tr class="header">
    <th>Name</th>
    <th>Region</th>
    <th>Total Cases</th>
    <th>Cases per 10000 Population</th>
    <th>Cases Last 7 Days</th>
    <th>Cases Last 7 Days per 10000 Population</th>
    <th>Cases Last 24 Hours</th>
    <th>Total Death</th>
    <th>Total Death per 10000 Population</th>
    <th>Death in Last 7 Days</th>
    <th>Death in Last 7 Days per 10000 Population</th>
    <th>Death in Last 24 Hours</th>
    </tr>
    {% for val in response %}
    <tr>
    {%for a in flag%}
    {% for vkey,vval in val.items %}
    {%if a.Name == val.Name%}
      {%if vval == none%}
        <td id="{{a.Code}}"><img src="https://www.countryflags.io/{{a.Code}}/flat/64.png" height="64" width="64"></td>
      {%else%}
      <td>{{vval}}</td>
      {%endif%}
    {%endif%}
    {% endfor %}
    {%endfor%}
    </tr>
    {% endfor %}
    </table>
    </div>
    {%autoescape off%}
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          }
          });
        }
        function myFunctionMob() {
          var input, filter, container, button, word, i, txtValue;
          input = document.getElementById("myInputMob");
          filter = input.value.toUpperCase();
          main = document.getElementById("main-mobile");
          container = main.getElementsByTagName("div");
          for (i = 0; i < container.length; i++) {
            word = container[i];
            if (word) {
              txtValue = word.textContent || word.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                container[i].style.display = "";
              } else {
                container[i].style.display = "none";
              }
            }       
          }
        }
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
          var svgMapDataGPD = {
            data: {
              cases: {
                name: 'Cases Last 24 Hour',
                thousandSeparator: ','
              },
              death: {
                name: 'Death Last 24 Hour',
                thousandSeparator: ','
              },
              cases7: {
                name: 'Cases Last 7 Days',
                thousandSeparator: ','
              },
              death7: {
                name: 'Death Last 7 Days',
                thousandSeparator: ','
              },
              totaldeath: {
                name: 'Total Death',
                thousandSeparator: ','
              }
            },
            applyData: 'cases7',
            values: {
              {%for res in response%}
              {%for code in flag%}
              {% for rkey,rval in res.items %}
              {%if code.Name == res.Name%}
                {{code.Code}}:{
                  cases: {{res.Cases_newly_reported_in_last_24_hours}},
                  death: {{res.Deaths_newly_reported_in_last_24_hours}},
                  cases7: {{res.Cases_newly_reported_in_last_7_days}},
                  death7: {{res.Deaths_newly_reported_in_last_7_days}},
                  totaldeath: {{res.Deaths_cumulative_total}},
                },
              {%endif%}
              {%endfor%}
              {%endfor%}
              {%endfor%}
            }
          };
          
        </script>
        <script>
          new svgMap({
            targetElementID: 'svgMapGPD',
            data: svgMapDataGPD,
            mouseWheelZoomEnabled: true,
            mouseWheelZoomWithKey: true
          });
        </script>
        {%endautoescape%}
</body>
</html>